@model V_Vuelo.Models.Usuarios

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<br />
<br />
<h4>Usuarios</h4>
<hr />
<div class="row">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Cedula" class="control-label"></label>
            <input asp-for="Cedula" class="form-control" />
            <span asp-validation-for="Cedula" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Nombre" class="control-label"></label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Apellidos" class="control-label"></label>
            <input asp-for="Apellidos" class="form-control" />
            <span asp-validation-for="Apellidos" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Correo" class="control-label"></label>
            <input asp-for="Correo" class="form-control" />
            <span asp-validation-for="Correo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Usuario" class="control-label"></label>
            <input asp-for="Usuario" class="form-control" />
            <span asp-validation-for="Usuario" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Contrasena" class="control-label"></label>
            <input asp-for="Contrasena" class="form-control" />
            <span asp-validation-for="Contrasena" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Pregunta" class="control-label"></label>
            <input asp-for="Pregunta" class="form-control" />
            <span asp-validation-for="Pregunta" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Respuesta" class="control-label"></label>
            <input asp-for="Respuesta" class="form-control" />
            <span asp-validation-for="Respuesta" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Rol_id" class="control-label"></label>
            <input asp-for="Rol_id" class="form-control" />
            <span asp-validation-for="Rol_id" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

