@model V_Vuelo.Models.Aerolinea

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<br />
<br />
<h4>Aerolinea</h4>
<hr />
<div class="row">   
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Aerolinea_id" class="control-label"></label>
                <input asp-for="Aerolinea_id" class="form-control" />
                <span asp-validation-for="Aerolinea_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre_aerolinea" class="control-label"></label>
                <input asp-for="Nombre_aerolinea" class="form-control" />
                <span asp-validation-for="Nombre_aerolinea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

