@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center" id="portada">
    <img src="~/imgs/airplane.jpg" width="1500" height="500" />
</div>
<br />
<br />

<div class="d-flex bd-highlight">
    <div class="p-2 flex-fill bd-highlight">

        <section id="inicio">
            <div class="container">
                <h1>Nuevo usuario</h1>
                <p>Create una cuenta para poder ingresar</p>
                <a class="loginbutton" asp-area="" asp-controller="Login" asp-action="Index"><button class="btn btn-primary">Registrarse</button></a>
            </div>
        </section>

    </div>
    <div class="p-2 flex-fill bd-highlight"></div>
    <div class="p-2 flex-fill bd-highlight">
        <section id="inicio">
            <div class="container">
                <h1 id="registrarse">¿Tienes cuenta?</h1>
                <p>Inicia sesión aqui</p>
                <a class="loginbutton" asp-area="" asp-controller="Login" asp-action="Index"><button class="btn btn-primary">Iniciar sesión</button></a>
            </div>
        </section>
    </div>    
</div>

